@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body::-webkit-scrollbar {
    width: 11px;
  }
  body {
    scrollbar-width: auto;
    scrollbar-color: #ef4444 #e5e7eb;
  }
  body::-webkit-scrollbar-track {
    background: #e5e7eb;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #ef4444;
  }
}

@layer utilities {
  /* Utility to autofill columns within the space provided, guaranteeing wrapping if items are too close */
  .pokemon-grid-template {
    grid-template-columns: repeat(auto-fill, minmax(132px, 1fr));
  }
}
